@using BetterCms.Demo.Web.Models
@model BlogItem

<div class="side-box">
    <h3>@Model.Title</h3>
    <p style="font-size:14px">@Model.IntroText</p>
    <a style="font-size:12px" href="@Model.Url">&lt; Suite &gt;</a>
</div>